* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #775151;
    padding: 30px;
}

.container {
    max-width: 850px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    text-shadow: #999 1px 1px 2px;
    color: #4a2c2c;
    margin-bottom: 25px;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary .box {
    background: #eee;
    padding: 12px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
}


.input-section input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.radio-group {
    margin: 10px 0;
}

button {
    width: 48%;
    padding: 10px;
    margin-top: 10px;
    background: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button.reset {
    background:#4caf50;
}

/* Filters */
.filters {
    text-align: center;
    margin: 15px 0;
}

/* Entries */
#entry-list {
    list-style: none;
}

.entry {
    background: #fafafa;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.entry .actions button {
    margin-left: 5px;
    padding: 5px 10px;
}

.entry.income {
    border-left: 4px solid green;
}

.entry.expense {
    border-left: 4px solid red;
}

/* Responsive */
@media (max-width: 600px) {
    .summary {
        flex-direction: column;
    }
    .summary .box {
        width: 100%;
        margin-bottom: 10px;
    }
}